= simple_form_for @player do |f|
  = f.input :name
  = f.simple_fields_for :entry do |e|
    = e.input :mianownik
    = e.input :dopelniacz
    = e.input :celownik
    = e.input :biernik
    = e.input :narzednik
    = e.input :miejscownik
    = e.input :rodzaj, as: :select, :collection => Entry::PLAYER_TYPES, include_blank: false
  = f.submit
